@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Poppins:wght@200&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 
    
}

.image-holder {
    width: 269px;
    height: 477px;
    margin: 77px 48px;
    background: url("https://lottiefiles.com/80356-online-learning") repeat center;
    background-position: center center;
    
}