@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Poppins:wght@200&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    margin : 0
}

.hero-bg{
    background: #307D99;
    color : white;
    text-align: center;
    padding-bottom: 4em;
}

header{
    padding : 1em 0;
}

.hero-bg a{
    
    color : white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

section{
    margin: 0 1em;
}

h1 { 
    font-size : 2.5rem;
    margin: 2em 0 1em;
}

h1 span {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
}

.form-container{
    background : white;
    margin: 2em -1em 0;
    padding : 2em;

}

label { 
    color: #2D7D98;
    font-weight: bold;
    display:block;
    margin-bottom: 1em;
    font-size: 1.2em;
}

input[type=text]{
    border: 1px solid #707070;
    width: 100%;
    padding : 1em;
    margin-top : 1.2em;
    border-radius: .5em;
}

.form-container p {
    color: gray;
    font-weight : normal;
    margin-top: .3em;
    font-size : .9em;
}

input[type=button]{
    background : orange;
    border : none;
    width : 100%;
    padding : 1em;
    border-radius : .5em;
    color : white;
    font-weight :bold;
    font-size : 0.9em;
}